@media screen and (max-width:1050px) {
    .header-inner{
        width: 700px;
    }
    .main-img{
        height: 230px;
        background-position-y: -250px;
    }
    .items-wrap{
        width: 700px;
        margin: 0 auto;
    }
    .items-inner{
        padding: 0;
    }
    .items dt{
        height: 120px;
    }
    /*----------mypage----------*/
    .content-inner{
        flex-direction: column-reverse;
    }
    .main-page-wrap{
        margin: 0 auto;
    }
    .sidebar-wrap{
        width: 700px;
        margin: 0 auto;
    }
}